<nav class="navbar navbar-light bg-light">
  <div class="container"> 
    <a class="navbar-brand">HORESA</a>
    <form class="form-inline">
      <%=link_to "Login",new_account_path, class: "mr-sm-2 btn btn-primary" %>
    </form>
  </div>
  
</nav>