<nav class="navbar navbar-light bg-light">
  <div class="container"> 
    <%=link_to root_path do %>
			<%=image_tag('logo.svg',class: "logo-img img-fluid navbar-brand", :width => "150px")%>
    <%end%>
    
    <form class="form-inline">
      <%=link_to "Log in",new_user_session_path, class: "mr-sm-2 btn btn-primary" %>
      
    </form>
  </div>
  
</nav>